<!DOCTYPE html>
<html>
<head>

  <% include ../head.ejs %>

</head>
<body>

  <% include ../nav.ejs %>

  <div id="presentation" class="container">
    <div id="presentation-section-1" class="text-align-center">

      <div class="container"><h1><%= project.title %></h1>

        <p class="italic">- <%= moment(project.date).format('LL') %> -</p></div>

      <img src="/assets/images/<%= project.coverImage.fileName %>">

    </div>
  </div>

  <div class="container" id="presentation-section-2">
    <!--<div id="project-services" class="col-md-4">
      <h2>Provided Services</h2>
      <p>Web Design</p>&lt;!&ndash; todo create this dynamically &ndash;&gt;
    </div>-->

    <div id="description" class="col-md-3 col-md-offset-3">
      <h2>Project description</h2>
    </div>

    <div id="project-description" class="col-md-6">
      <div><%- project.description %></div>
    </div>


    <!-- TODO DISPLAY SECTIONS -->
    <% for(var i=0;i<project.sections.length;i++){ %>

    <div id="section" class="row">
      <div class="col-md-6 col-md-push-3 text-align-center">
        <h2><%= project.sections[i].title %></h2>
        <img src="/assets/images/<%- project.sections[i].image.fileName %>">
      </div>
    </div>

    <% } %>


  </div>


  <div id="block-ghost-fix-presentation">
    <div id="lets-work" class="block-ghost">
      <div class="centered-ghost">
        <h2>Let's Work</h2>
        <p class="italic">If you need an enthusiastic developer or a creative designer, leave me a message and
          I’ll contact you
          soon.</p>
        <a href="/contact">
          <div class="btn">Contact Me</div>
        </a>
      </div>
    </div>
  </div>



  <% include ../footer.ejs %>

<!--  <p class="italic col-md-4">If you need an enthusiastic developer or a creative designer, leave me a message and
    I’ll contact you
    soon.</p>
  <a href="/contact">
    <div class="btn">Contact Me</div>
  </a>-->
