<!DOCTYPE html>
<html>
<head>

  <% include ../head.ejs %>

</head>
<body>

  <% include ../nav.ejs %>

  <div id="presentation" class="container">
    <div id="presentation-section-1" class="text-align-center">

      <div class="container"><h1><%= project.title %></h1>

        <p class="italic">- <%= moment(project.timeStamp).format('LL') %> -</p></div>

      <img src="/assets/images/bg-presentation.png">

    </div>
  </div>

  <div class="container" id="presentation-section-2">
    <div id="project-services" class="col-md-4">
      <h2>Provided Services</h2>
      <p>Web Design</p><!-- todo create this dynamically -->
    </div>
    <div id="project-description" class="col-md-8">
      <p><%- project.description %></p>
    </div>


    <!-- TODO DISPLAY SECTIONS -->
    <% for(var i=0;i<project.sections.length;i++){ %>

    <div class="col-md-12 text-align-center">
      <h1><%= project.sections[i].title %></h1>
      <img src="/assets/images/<%- project.sections[i].image.fileName %>">
    </div>

    <% } %>


  </div>




  <div id="lets-work" class="container-fluid text-align-center">
    <h2>Let's Work</h2>
    <p class="italic">If  you need enthusiastic developer or creative designer, leave me a message and I’ll contact you soon.</p>
    <a href="/contact">
      <div class="btn">Contact Me</div>
    </a>
  </div>


  <% include ../footer.ejs %>
