<!DOCTYPE html>
<html>
<head>

    <% include ../head.ejs %>

</head>
<body>

    <% include ../nav.ejs %>

        <div id="about-section-1">
          <div class="text-landing text-align-center">
            <h1 class="inline-block"><%= about[0].titleGeneral %></h1>
            <p class="italic">- <%= about[0].subTitleGeneral %> -</p>
          </div>
          <img src="/assets/images/arrow-down-btn.png" id="arrow-nav">
        </div>

      <div id="text-about" class="container"> <!-- CONTAINER -->

      <div class="col-md-3 col-md-offset-3">
        <h2><%= about[0].description.title %></h2>
      </div>

      <div id="text-about-cv" class="col-md-6">
        <div class="lead"><%- about[0].description.lead %></div>
        <p class="paragraph"><%- about[0].description.paragraph %></p>
      </div>
        </div>
    <div id="about-section-abilities" class="container-fluid"> <!-- CONTAINER FLUID -->
        <div  class="text-align-center container">
          <div class="col-md-12">
            <h2><%= about[0].titleAbilities %></h2>
          </div>
          <div class="col-md-4 ">
            <img src="assets/images/icon-vector.png">
            <h3><%= about[0].stack[0].title %></h3>

              <% for(var i=0; i<about[0].stack[0].abilities.length; i++) {%>
              <p><%= about[0].stack[0].abilities[i] %></p>
              <% } %>

          </div>
          <div class="col-md-4">
            <img src="assets/images/icon-apps.png">
            <h3><%= about[0].stack[1].title %></h3>
              <% for(var i=0; i<about[0].stack[1].abilities.length; i++) {%>
              <p><%= about[0].stack[1].abilities[i] %></p>
              <% } %>
          </div>
          <div class="col-md-4">
            <img src="assets/images/icon-animations.png">
            <h3><%= about[0].stack[2].title %></h3>
              <% for(var i=0; i<about[0].stack[2].abilities.length; i++) {%>
              <p><%= about[0].stack[2].abilities[i] %></p>
              <% } %>
          </div>
        </div>

    </div><!-- CLOSING DIV OF CONTAINER -->

    <div id="section-connect" class="container-fluid">
      <div class="text-align-center container">
        <div class="col-md-12">
          <h2><%= about[0].connectTitle %></h2>
        </div>
        <div class="col-md-2">
          </div>
        <div class="col-md-8">
          <a href="https://github.com/vidrepar"><img src="/assets/images/icon-github-round.png" id="icon-github"></a>
          <a href="https://www.behance.net/aaviador"><img src="/assets/images/icon-behance-round.png" id="icon-behance"></a></div>
        <div class="col-md-2">
          </div>
      </div>
    </div>

    <% include ../footer.ejs %>
